src/main/resources/strata-wadl.xml

<?xml version="1.0"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:strata="https://api.access.redhat.com/rs/">

	<doc title="Support Services API">Support services API documentation. All methods require SSO
		cookie or HTTP BASIC authentication.</doc>

	<resources base="https://api.access.redhat.com/rs/">

		<resource path="products">

			<doc>A list of all products available to the calling user.</doc>

			<method name="GET">
				<response status="200">
					<representation mediaType="application/json" element="strata:products" />
					<representation mediaType="text/xml" element="strata:products" />
					<representation mediaType="text/plain" element="strata:products" />
				</response>
			</method>

			<resource path="{product-id}">

				<doc>A single product. TODO how does this differ from /product/id/versions/ver?</doc>

				<param style="template" name="product-id" type="xsd:string" />

				<method name="GET">
					<response status="200">
						<representation mediaType="application/json" element="strata:product" />
						<representation mediaType="text/xml" element="strata:product" />
						<representation mediaType="text/plain" element="strata:product" />
					</response>
				</method>

				<resource path="versions">

					<doc>A list of all versions of a product.</doc>

					<method name="GET">
						<response status="200">
							<representation mediaType="application/json" element="strata:products" />
							<representation mediaType="text/xml" element="strata:products" />
							<representation mediaType="text/plain" element="strata:products" />
						</response>
					</method>

					<resource path="{version-id}">

						<doc>A single product of a specific version.</doc>

						<param style="template" name="version-id" type="xsd:string" />

						<method name="GET">
							<response status="200">
								<representation mediaType="application/json" element="strata:product" />
								<representation mediaType="text/xml" element="strata:product" />
								<representation mediaType="text/plain" element="strata:product" />
							</response>
						</method>

					</resource>
				</resource>
			</resource>
		</resource>

		<resource path="cases">

			<doc>A list of all support cases visible to the calling user. Available as an overview/result list
				or as a full list of all case details.</doc>

			<method name="GET">
				<request>
					<param style="query" name="detail" type="xsd:boolean" default="false" required="false" />
				</request>
				<response status="200">
					<representation mediaType="application/json" element="strata:cases" />
					<representation mediaType="text/xml" element="strata:cases" />
					<representation mediaType="text/plain" element="strata:cases" />
				</response>
			</method>

			<method name="POST">
				<doc>Create a new case. One or more case elements should be included. URI of the
					new case is returned in the Location header of successful operations.</doc>
				<request>
					<representation mediaType="application/json" element="strata:case" />
					<representation mediaType="text/xml" element="strata:case" />
				</request>
				<response status="201">
					<param style="header" name="Location" />
					<representation mediaType="application/json" />
					<representation mediaType="text/xml" />
					<representation mediaType="text/plain" />
				</response>
			</method>

			<resource path="{case-id}">

				<doc>A support case.</doc>

				<param style="template" name="case-id" type="xsd:string" />

				<method name="GET">
					<response status="200">
						<representation mediaType="application/json" element="strata:case" />
						<representation mediaType="text/xml" element="strata:case" />
						<representation mediaType="text/plain" element="strata:case" />
					</response>
				</method>

				<method name="PUT">
					<request>
						<representation mediaType="application/json" element="strata:case" />
						<representation mediaType="text/xml" element="strata:case" />
					</request>
					<response status="204">
						<representation mediaType="application/json" />
						<representation mediaType="text/xml" />
						<representation mediaType="text/plain" />
					</response>
				</method>

				<resource path="comments">

					<doc>Comments associated with a specific support case.</doc>

					<method name="GET">
						<doc>Get all comments associated with a support case.</doc>
						<request>
							<param name="detail" style="query" type="xs:boolean" default="false" required="false" />
						</request>
						<response status="200">
							<representation mediaType="application/json" element="strata:comments" />
							<representation mediaType="text/xml" element="strata:comments" />
							<representation mediaType="text/plain" element="strata:comments" />
						</response>
					</method>

					<method name="POST">
						<doc>Add a comment to a specific support case. URI of new comment provided in the Location header.</doc>
						<request>
							<representation mediaType="application/json" element="strata:comment" />
							<representation mediaType="text/xml" element="strata:comment" />
						</request>
						<response status="201">
							<param style="header" name="Location" />
							<representation mediaType="application/json" />
							<representation mediaType="text/xml" />
							<representation mediaType="text/plain" />
						</response>
					</method>

					<resource path="{comment-id}">

						<doc>A case comment. This is not expected to be used frequently but it is provided
							as a resource URI to PUT comment updates to.</doc>

						<param name="comment-id" style="template" type="xsd:string" />

						<method name="GET">
							<response status="200">
								<representation mediaType="application/json" element="strata:comment" />
								<representation mediaType="text/xml" element="strata:comment" />
								<representation mediaType="text/plain" element="strata:comment" />
							</response>
						</method>

						<method name="PUT">
							<doc>Update an existing case comment.</doc>
							<request>
								<representation mediaType="application/json" element="strata:comment" />
								<representation mediaType="text/xml" element="strata:comment" />
							</request>
							<response status="204">
								<representation mediaType="application/json" />
								<representation mediaType="text/xml" />
								<representation mediaType="text/plain" />
							</response>
						</method>

					</resource>
				</resource>

				<resource path="attachments">

					<doc>A list of attachments for a specific case.</doc>

					<method name="GET">
						<request>
							<param name="detail" style="query" type="xs:boolean" default="false" required="false" />
						</request>
						<response status="200">
							<representation mediaType="application/json" />
							<representation mediaType="text/xml" />
							<representation mediaType="text/plain" />
						</response>
					</method>

					<method name="POST">
						<doc>Create new attachment information on a support case.</doc>
						<response status="201">
							<param style="header" name="Location" />
							<representation mediaType="application/json" />
							<representation mediaType="text/xml" />
							<representation mediaType="text/plain" />
						</response>
					</method>

					<resource path="{attachment-id}">

						<doc>Meta-data about a specific attachment. The URI of the actual attached binary file
							is available in this element.</doc>

						<param name="attachment-id" style="template" type="xsd:string" />

						<method name="GET">
							<request>
								<param name="range" style="header" type="xs:string" required="true" />
							</request>
							<response status="200">
								<representation mediaType="application/octet-stream" />
							</response>
						</method>

						<method name="PUT">
							<request>
								<param style="header" name="Content-Type" type="xs:string" required="true" />
							</request>
							<response status="200">
								<representation mediaType="application/json" />
								<representation mediaType="text/xml" />
								<representation mediaType="text/plain" />
							</response>
						</method>

					</resource>

				</resource>
			</resource>
		</resource>
		<resource path="accounts">
		  <doc>A list of customer accounts, not currently implemented</doc>
		  <resource path="{account-id}">
			<doc>Information about a customer account, not currently implemented</doc>
			<resource path="case-groups">
			  <doc>A list of case groups/folders for an account</doc>
				<method name="GET">
				  <representation mediaType="application/json" element="strata:accounts" />
				  <representation mediaType="text/xml" element="strata:accounts" />
				  <representation mediaType="text/plain" element="strata:accounts" />
				</method>
				<method name="POST">
				  <representation mediaType="application/json" element="strata:accounts" />
				  <representation mediaType="text/xml" element="strata:accounts" />
				  <representation mediaType="text/plain" element="strata:accounts" />
				</method>
			  <resource path="{case-group-id}">
				<param style="template" name="case-group-id" type="xsd:string" />
				<doc>Information about a customer case group</doc>
				<method name="GET">
				  <representation mediaType="application/json" element="strata:accounts" />
				  <representation mediaType="text/xml" element="strata:accounts" />
				  <representation mediaType="text/plain" element="strata:accounts" />
				</method>
				<method name="PUT">
				  <representation mediaType="application/json" element="strata:accounts" />
				  <representation mediaType="text/xml" element="strata:accounts" />
				  <representation mediaType="text/plain" element="strata:accounts" />
				</method>
			  </resource>
			</resource>
		  </resource>
		</resource>
	</resources>
</application>
