src/main/resources/strata-wadl.xml

<?xml version="1.0"?>
<application xmlns="http://research.sun.com/wadl/2006/10"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:strata="https://api.access.redhat.com/rs/">

	<grammars>
		<include href="strata.xsd" />
	</grammars>

	<resources base="https://api.access.redhat.com/rs/">
	
		<resource path="cases">
		
			<method name="POST">
				<request>
					<representation mediaType="application/json" element="strata:case" />
					<representation mediaType="application/xml" element="strata:case" />
				</request>
				<response>
					<representation mediaType="application/json" status="200" />
					<representation mediaType="application/xml" status="200" />
					<representation mediaType="text/plain" status="200" />
				</response>
			</method>

			<method name="GET">
				<request>
					<param name="detail" style="query" type="xs:boolean" default="false" required="false" />
				</request>
				<response>
					<representation mediaType="application/json" element="strata:cases" status="200" />
					<representation mediaType="application/xml" element="strata:cases" status="200" />
					<representation mediaType="text/plain" element="strata:cases" status="200" />
				</response>
			</method>

			<method name="PUT">
				<request>
					<representation mediaType="application/json" element="strata:case" />
					<representation mediaType="application/xml" element="strata:case" />
				</request>
				<response>
					<representation mediaType="application/json" status="200" />
					<representation mediaType="application/xml" status="200" />
					<representation mediaType="text/plain" status="200" />
				</response>
			</method>

			<resource path="{caseNumber}">

				<method name="GET">
					<response>
						<representation mediaType="application/json" element="strata:case" status="200" />
						<representation mediaType="application/xml" element="strata:case" status="200" />
						<representation mediaType="text/plain" element="strata:case" status="200" />
					</response>
				</method>

				<resource path="comments">

					<method name="POST">
						<request>
							<representation mediaType="application/json" element="strata:comment" />
							<representation mediaType="application/xml" element="strata:comment" />
						</request>
						<response>
							<representation mediaType="application/json" status="200" />
							<representation mediaType="application/xml" status="200" />
							<representation mediaType="text/plain" status="200" />
						</response>
					</method>

					<method name="GET">
						<request>
							<param name="detail" style="query" type="xs:boolean" default="false" required="false" />
						</request>
						<response>
							<representation mediaType="application/json" element="strata:comments" status="200" />
							<representation mediaType="application/xml" element="strata:comments" status="200" />
							<representation mediaType="text/plain" element="strata:comments" status="200" />
						</response>
					</method>


					<resource path="{id}">

						<method name="GET">
							<response>
								<representation mediaType="application/json" element="strata:comment" status="200" />
								<representation mediaType="application/xml" element="strata:comment" status="200" />
								<representation mediaType="text/plain" element="strata:comment" status="200" />
							</response>
						</method>

						<method name="PUT">
							<request>
								<representation mediaType="application/json" element="strata:comment" />
								<representation mediaType="application/xml" element="strata:comment" />
							</request>
							<response>
								<representation mediaType="application/json" status="200" />
								<representation mediaType="application/xml" status="200" />
								<representation mediaType="text/plain" status="200" />
							</response>
						</method>

						<resource path="status">

							<method name="PUT">
								<request>
									<param name="public" style="query" type="xs:boolean" default="false" required="false" />
								</request>
								<response>
									<representation mediaType="application/json" status="200" />
									<representation mediaType="application/xml" status="200" />
									<representation mediaType="text/plain" status="200" />
								</response>
							</method>

						</resource>
					</resource>
				</resource>

				<resource path="attachments">

					<method name="POST">
						<response>
							<representation mediaType="application/json" status="200" />
							<representation mediaType="application/xml" status="200" />
							<representation mediaType="text/plain" status="200" />
						</response>
					</method>

					<method name="GET">
						<request>
							<param name="detail" style="query" type="xs:boolean" default="false" required="false" />
						</request>
						<response>
							<representation mediaType="application/json" status="200" />
							<representation mediaType="application/xml" status="200" />
							<representation mediaType="text/plain" status="200" />
						</response>
					</method>

					<resource path="{uuid}">

						<method name="GET">
							<request>
								<param name="Range" style="header" type="xs:string" required="true" />
							</request>
							<response>
								<representation mediaType="application/octet-stream" status="200" />
								<representation mediaType="text/html" status="200" />
								<representation mediaType="text/xml" status="200" />
								<representation mediaType="text/plain" status="200" />
							</response>
						</method>

						<method name="PUT">
							<request>
								<param name="Content-Type" style="header" type="xs:string" required="true" />
							</request>
							<response>
								<representation mediaType="application/json" status="200" />
								<representation mediaType="application/xml" status="200" />
								<representation mediaType="text/plain" status="200" />
							</response>
						</method>

					</resource>

				</resource>
			</resource>
		</resource>
	</resources>
</application>