src/main/resources/strata.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema targetNamespace="http://www.redhat.com/gss/strata" elementFormDefault="qualified" version="1.1" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.redhat.com/gss/strata"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
    jaxb:extensionBindingPrefixes="xjc">

	<xs:annotation>
		<xs:documentation>Red Hat Support Services API</xs:documentation>
		<xs:appinfo>
			<jaxb:globalBindings>
				<xjc:serializable uid="11"/>
				<jaxb:javaType xmlType="xs:dateTime" name="java.util.Calendar" 
					parseMethod="javax.xml.bind.DatatypeConverter.parseDateTime"
					printMethod="javax.xml.bind.DatatypeConverter.printDateTime" />
			</jaxb:globalBindings>
		</xs:appinfo>
	</xs:annotation>

	<xs:complexType name="trackedEntity" abstract="true">
		<xs:annotation>
			<xs:documentation>A common base type for any type that needs the common created/updated
			information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="createdBy" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="createdDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="lastModifiedBy" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="lastModifiedDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="attachments">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A list of attachments.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element ref="tns:attachment" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="attachment">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A file attachment and related meta data.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>
						<xs:element name="caseId" type="xs:string" />
						<xs:element name="uuid" type="xs:string" />
						<xs:element name="etag" type="xs:string" />
						<xs:element name="uri" type="xs:anyURI" />
						<xs:element name="fileDate" type="xs:dateTime" />
						<xs:element name="fileName" type="xs:string" />
						<xs:element name="description" type="xs:string" />
						<xs:element name="mimeType" type="xs:string" />
						<xs:element name="length" type="xs:long" />
						<xs:element name="active" type="xs:boolean" />
						<xs:element name="deprecated" type="xs:boolean" />
					</xs:sequence>
					<xs:attribute name="caseNumber" type="xs:string" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="groups">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A list of groups.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element ref="tns:group" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="group">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A group that may contain zero or more cases.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="id" type="xs:string" />
				<xs:element name="name" type="xs:string" />
				<xs:element name="uri" type="xs:anyURI" />
			</xs:sequence>
			<xs:attribute name="number" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="cases">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A list of support cases. This type serves as both a
					top-level construct in the case that a query returns a list of
					support cases as well as an embedded construct as part of a larger
					item.  This element is not required to contain any child 
					case elements.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element ref="tns:case" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="case">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A support case.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>
						<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Case identifier assigned by backing system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="uri" type="xs:anyURI" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>RESTful URI for this case resource.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="summary" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Title or short summary.  This field is required by the model
								but the schema allows it to be omitted so that field-level updates are possible.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Description of the problem or question.  This field is required by the model
								but the schema allows it to be omitted so that field-level updates are possible.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Case status.  Valid values are available from 
								the values service.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="product" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Product this case relates to.  Valid products 
								are available from the products resource.  This field is required by the model
								but the schema allows it to be omitted so that field-level updates are possible.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="component" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Component this case relates to (optional). Valid
								components for a given product are available from the values 
								service.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Version of the product this case relates to.
								Valid versions for a given product are available from the products
								resource.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Type of case, i.e. question, problem, etc.
								Valid types are available from the values service.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="accountNumber" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Account number this case belongs to.  This field is required 
								by the model but the schema allows it to be omitted so that field-level updates 
								are possible.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="reference" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="notes" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="escalated" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						<xs:element name="contactName" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="origin" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="owner" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="internalPriority" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="internalStatus" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="suppliedName" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="suppliedPhone" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="suppliedEmail" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="severity" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element name="folderNumber" type="xs:string" minOccurs="0" maxOccurs="1" />
						<xs:element ref="tns:comments" minOccurs="0" />
					</xs:sequence>
					<xs:attribute name="caseNumber" type="xs:string" use="optional" />
					<xs:attribute name="closed" type="xs:boolean" use="optional" />
					<xs:attribute name="customerReferenceNumber" type="xs:string" use="optional" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="comments">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A list of comments</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element ref="tns:comment" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="comment">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A support case comment and associated metadata.</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="tns:trackedEntity">
					<xs:sequence>
						<xs:element name="date" type="xs:dateTime" />
						<xs:element name="who" type="xs:string" minOccurs="0" />
						<xs:element name="text" type="xs:string" />
						<xs:element name="title" type="xs:string" minOccurs="0" />
						<xs:element name="uri" type="xs:anyURI" minOccurs="0" />
					</xs:sequence>
					<xs:attribute name="id" type="xs:string" />
					<xs:attribute name="caseNumber" type="xs:string" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="products">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A list of products.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element ref="tns:product" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="product">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A product.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A short, unique, human-readable code identifying this product.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The formal product brand name.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="versions">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A list of product versions.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="version" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="values">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A list of name/value pairs.  Both names and values are String typed.  List can 
				contain zero or more elements.  Values are nullable.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="value" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1" />
						</xs:sequence>
						<xs:attribute name="type" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>