src/main/resources/strata-wadl.xml

<?xml version="1.0"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:strata="https://api.access.redhat.com/rs/">
	
	<doc title="Support Services API">Support services API documentation.  All methods require SSO
	cookie or HTTP BASIC authentication.</doc>

	<resources base="https://api.access.redhat.com/rs/">
	
		<resource path="cases">
		
			<method name="GET">
				<request>
					<param name="detail" style="query" type="xs:boolean" default="false" required="false" />
				</request>
				<response status="200">
					<representation mediaType="application/json" element="strata:cases" />
					<representation mediaType="application/xml" element="strata:cases" />
					<representation mediaType="text/plain" element="strata:cases" />
				</response>
			</method>

			<method name="POST">
				<request>
					<representation mediaType="application/json" element="strata:case" />
					<representation mediaType="application/xml" element="strata:case" />
				</request>
				<response status="201">
					<representation mediaType="application/json" />
					<representation mediaType="application/xml" />
					<representation mediaType="text/plain" />
				</response>
			</method>

			<resource path="{case-id}">
				
				<param name="case-id" style="template" type="xsd:string" />

				<method name="GET">
					<response status="200">
						<representation mediaType="application/json" element="strata:case" />
						<representation mediaType="application/xml" element="strata:case" />
						<representation mediaType="text/plain" element="strata:case" />
					</response>
				</method>

				<method name="PUT">
					<request>
						<representation mediaType="application/json" element="strata:case" />
						<representation mediaType="application/xml" element="strata:case" />
					</request>
					<response status="204">
						<representation mediaType="application/json" />
						<representation mediaType="application/xml" />
						<representation mediaType="text/plain" />
					</response>
				</method>

				<resource path="comments">

					<method name="GET">
						<request>
							<param name="detail" style="query" type="xs:boolean" default="false" required="false" />
						</request>
						<response>
							<representation mediaType="application/json" element="strata:comments" status="200" />
							<representation mediaType="application/xml" element="strata:comments" status="200" />
							<representation mediaType="text/plain" element="strata:comments" status="200" />
						</response>
					</method>

					<method name="POST">
						<request>
							<representation mediaType="application/json" element="strata:comment" />
							<representation mediaType="application/xml" element="strata:comment" />
						</request>
						<response status="201">
							<representation mediaType="application/json" />
							<representation mediaType="application/xml" />
							<representation mediaType="text/plain" />
						</response>
					</method>

					<resource path="{comment-id}">

						<param name="comment-id" style="template" type="xsd:string" />

						<method name="GET">
							<response>
								<representation mediaType="application/json" element="strata:comment" status="200" />
								<representation mediaType="application/xml" element="strata:comment" status="200" />
								<representation mediaType="text/plain" element="strata:comment" status="200" />
							</response>
						</method>

						<method name="PUT">
							<request>
								<representation mediaType="application/json" element="strata:comment" />
								<representation mediaType="application/xml" element="strata:comment" />
							</request>
							<response status="204">
								<representation mediaType="application/json" />
								<representation mediaType="application/xml" />
								<representation mediaType="text/plain" />
							</response>
						</method>

					</resource>
				</resource>

				<resource path="attachments">

					<method name="GET">
						<request>
							<param name="detail" style="query" type="xs:boolean" default="false" required="false" />
						</request>
						<response>
							<representation mediaType="application/json" status="200" />
							<representation mediaType="application/xml" status="200" />
							<representation mediaType="text/plain" status="200" />
						</response>
					</method>

					<method name="POST">
						<response status="201">
							<representation mediaType="application/json" />
							<representation mediaType="application/xml" />
							<representation mediaType="text/plain" />
						</response>
					</method>

					<resource path="{comment-id}">

						<param name="comment-id" style="template" type="xsd:string" />

						<method name="GET">
							<request>
								<param name="range" style="header" type="xs:string" required="true" />
							</request>
							<response status="200">
								<representation mediaType="application/octet-stream" />
							</response>
						</method>

						<method name="PUT">
							<request>
								<param style="header" name="Content-Type" type="xs:string" required="true" />
							</request>
							<response>
								<representation mediaType="application/json" status="200" />
								<representation mediaType="application/xml" status="200" />
								<representation mediaType="text/plain" status="200" />
							</response>
						</method>

					</resource>

				</resource>
			</resource>
		</resource>
	</resources>
</application>